<h1>{{ otsikko|upper }}</h1>

<div>
    <p>
        Uusi Control-päivitys tekee pelistä vakaamman – PlayStation 4 -pelaajat voivat ladata sen jo nyt.
    </p>
    <p>
        Apple julkisti Arcade-pelipalvelun hinnan ja julkaisupäivämäärän.
    </p>  
    <p>
        PlayStation Storen viikon uutuudet: lätkää, räiskintää ja hurmeista mättöä.
    </p>     
</div>

<h2>Kommentit ({{ kommentit|length }})</h2>

<ul>
    {% for kommentti in kommentit %}
        <li>{{ kommentti}}</li>
    {% endfor %}
</ul>
